img {
    margin: 2px;
    padding: 4px;
}

/* .label {} */

.label-0 {
    color: white;
    background-color: blue;
}
.label-1 {
    color: white;
    background-color: red;
}
.label-2 {
    background-color: yellow;
}
.label-3 {
    background-color: orange;
}
.label-4 {
    color: white;
    background-color: purple;
}
.label-5 {
    color: white;
    background-color: green;
}